<app-header></app-header>

<div class="container">
  <h1 class="py-5 my-5 text-center">DECODE</h1>
  <div class="row py-5 my-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="shadow-lg mr-1 clickable my-lst" hover-class="shadow-lg" routerLink="/decode/audio">
        <img src="/WaterMarkingWebsite/assets/images/AudioWatermarking.png" class="w-100">
        <!-- /WaterMarkingWebsite -->
      </div>
    </div>
    <!-- <div class="col-md-6">
      <div class="shadow-lg ml-1">
        <img src="/WaterMarkingWebsite/assets/images/VideoWatermarking.png" class="w-100">
      </div>
    </div> -->
  </div>
</div>
