<app-header></app-header>

  <div class="container">
    <div class="row pt-5">
      <div class="col">
        <h2 class="text-center shadow-sm p-3">Audio/Video Processing</h2>
      </div>
    </div>
    <div class="row my-5 py-3">
      <div class="col-md-6 py-3">
        <div class="shadow mr-1 clickable my-lst" routerLink="/manipulate/audio">
          <img src="/WaterMarkingWebsite/assets/images/AudioWatermarking.png" class="w-100">
          <!-- /WaterMarkingWebsite -->
        </div>
      </div>
      <div class="col-md-6 py-3">
        <div class="shadow ml-1">
          <!--  routerLink="/new/video" -->
          <img src="/WaterMarkingWebsite/assets/images/VideoWatermarking.png" class="w-100">
          <!-- /WaterMarkingWebsite -->
        </div>
      </div>
    </div>
  </div>
